<div class='frontmatter'>
	<div class='wrapper'>
		<h1>
			about.
		</h1>
		<div>
			<img id='logo' src="/assets/logo.png" />
			<div class='fm-content'>
				<p>
					Hi! I am an <a href="https://urbanscience.sutd.edu.sg">urban science</a> student at <a href="https://sutd.edu.sg">SUTD</a>, focusing on social implications of artificial intelligence.
				</p>
				<p>
					I previously spent several months as an AI research assistant, where my research interests include metalearning and interpretability. Now I form part of the Resistance working to prevent evil AI overlords.
				</p>
				<p>
					I write about a mixture of topics in both social science and artificial intelligence - in isolation as well as how they relate to each other.
				</p>
			</div>
		</div>
		<div style='margin: auto; width: 60px;'>
			{%- include social.html -%}
		</div>
	</div>
</div>